* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.banner {
  position: relative;
  padding: 30px 0;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  z-index: 0;
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}
.banner-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}
.banner-logo,
.banner-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  box-sizing: border-box;
  margin: 0;
}
.links-list {
  display: flex;
  list-style: none;
  align-items: center;
}
.sourses-list-item:not(:first-child) {
  margin-left: 20px;
}
.banner-logo a {
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  width: 179px;
  color: #ffffff;
}
.banner-label {
  font-family: open-sans-b, sans-serif;
  font-size: 45px;
  line-height: 1.6;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  max-width: 750px;
  padding: 128px 0;
  color: #ffffff;
}
a {
  color: #ffffff;
  text-decoration: none;
}

.now-title {
  margin-top: 59px;
}
.trends {
  display: flex;
  list-style: none;
  padding: 0;
}
.trends-border {
  margin: 29px auto 0;
  display: flex;
  max-width: 1660px;
  min-height: 319px;
}
.trends-item {
  margin-right: 2px;
}
.trends-item:last-child {
  margin-right: 0;
}
.trend-card {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  flex-basis: 100%;
  height: 100%;

  background-color: #eff6f1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
}
.first-card {
  background-image: url(https://raw.githubusercontent.com/NazbImbek/MQ-Dimlom/main/images/trend1.jpg);
}
.second-card {
  background-image: url(https://raw.githubusercontent.com/NazbImbek/MQ-Dimlom/main/images/trend2.jpg);
}
.third-card {
  background-image: url(https://raw.githubusercontent.com/NazbImbek/MQ-Dimlom/main/images/trend3.jpg);
}
.forth-card {
  background-image: url(https://raw.githubusercontent.com/NazbImbek/MQ-Dimlom/main/images/trend4.jpg);
}
.trend-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}
.card-border {
  max-width: 370px;

  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #b59f5b;
  margin-bottom: 15px;
  margin-right: 22px;
  margin-left: 22px;
  padding-bottom: 36px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.trend-tag {
  display: flex;
  list-style: none;

  padding: 0;
  margin-left: 18px;
  margin-top: 26px;
}
.trend-name {
  color: #fff;
  text-decoration: none;
}
.frame-name {
  color: #0f0d0e;
}

.trend-title {
  display: block;
  margin-left: 18px;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 8px;
}

.frame-title {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 37px;
}
.page {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  max-width: 1200px;
}
.page-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.post-list {
  max-width: 778px;
  margin: auto;
}
.news {
  display: flex;
  justify-content: space-between;
  max-width: 778px;
}
.news-picture,
.bar-news-img {
  display: block;
}
.news:not(:first-child) {
  margin-top: 60px;
}
.news-text {
  margin-left: 47px;
}
.news-tag {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}
.news-tag-item {
  margin-right: 20px;
  display: flex;
  list-style: none;
  align-items: center;
}
.frame-title {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 37px;
}
.frame {
  display: block;
  max-width: 350px;
  justify-content: space-between;
  align-items: baseline;
}
.card-date {
  font-size: 12px;
  color: #888888;
}
.title-author {
  font-family: open-sans-b, sans-serif;
  color: #000000;
  font-size: 12px;
  margin-left: 10px;
}
.meta {
  display: flex;
}
.news-tag-link {
  font-size: 14px;
  color: #b59f5b;
  font-weight: 700;
  font-family: open-sans-b, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
.news-tag-item {
  margin-right: 20px;
}
.picture-content > p {
  line-height: 1.5;
  font-size: 15px;
  margin: 50px 0 0 0;
}
.picture-content > p:not(:first-child) {
  margin-top: 20px;
}
.side-bar {
  width: 270px;
}
.side-item:not(:first-child) {
  margin-top: 60px;
}
.bar-news {
  display: flex;
  margin-top: 20px;
}
.bar-news-img {
  width: 70px;
}
.side-name {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  width: 180px;
  font-size: 14px;
  line-hight: 1.3;
  margin-top: 10px;
  margin-bottom: 0px;
}
.latest-posts:not(:first-child) {
  margin-top: 60px;
}
.top-title {
  text-align: center;
  margin-bottom: 0px;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-hight: 1.3;
}
.top-title::after {
  content: "";
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 14px;
  width: 66px;
  height: 3px;
  background: #b59f5b;
}
.side-text a {
  text-decoration: none;
  color: #000000;
}
.side-text .card-date {
  font-size: 12px;
  text-decoration: none;
  color: #000000;
  opacity: 0.54;
}
.side-text {
  margin-left: 18px;
}
.search {
  display: flex;
  width: 100%;
  margin-top: 60px;
}
.hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
.search-button {
  border: none;
  width: 48px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #b59f5b;
  background-size: 16px;
  cursor: pointer;
}
.search-field {
  box-sizing: border-box;
  border: none;
  padding-left: 18px;
  width: 222px;
  height: 48px;
  font-size: 13px;
  background-color: #f4f7f6;
}
.mail-button {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  border: none;
  margin-top: 18px;
  height: 48px;
  width: 100%;
  background-color: #b59f5b;
  color: #ffffff;
  font-size: 13px;
  cursor: pointer;
}
.mail-field {
  box-sizing: border-box;
  border: none;
  padding-left: 18px;
  margin-top: 23px;
  width: 100%;
  height: 48px;
  font-size: 13px;
  background-color: #f4f7f6;
}
.list-tags-link {
  font-family: open-sans-b, sans-serif;
  height: 29px;
  font-size: 12px;
  border: 3px solid #f4f3f1;
  padding: 7px 11px;
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0d0e;
}
.list-tags {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.list-tags-item {
  margin-top: 26px;
  margin-right: 3px;
  margin-left: 3px;
}
.list-category {
  list-style: none;
}
.category-link {
  font-size: 14px;
  padding: 0 5px 0 0;
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  font-family: open-sans-b, sans-serif;
  color: #000000;
}
.list-category-item {
  margin-top: 14px;
  margin-left: 3px;
}
.list-category-item::after {
  content: "";
  display: block;
  position: relative;
  margin-top: 14px;
  width: 100%;
  height: 1px;
  background: #eeeeee;
}
.category-number {
  display: inline-block;
  vertical-align: top;
  color: #b59f5b;
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
}

.product-tag-link {
  text-decoration: none;
  color: #b59f5b;
}
p {
  margin-top: 0;
  line-height: 22px;
  font-size: 15px;
}
.shopping {
  margin: 29px 0 0;
  font-family: Open Sans, sans-serif;
  display: flex;
}

.shop {
  /*display: flex;
  padding-top: 0;
  margin: 0 auto;*/
  
  display: flex;
    width: 95%;
    flex-wrap: wrap;
    padding: 0 15px;
    margin: auto;
    justify-content: space-between;
}
.shop-container {
 /* display: block;
  max-width: 347px;
  margin: 0 50px;
  position: relative;*/
  
      /* display: block; */
    max-width: 33.33%;
    margin: auto;
    /* position: relative; */
    list-style: none;
}

.shop-border {
  max-width: 300px;
  outline: 3px solid #b59f5b;
  outline-offset: 30px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: OpenSans-Bold, sans-serif;
}

.shop-body {
  min-height: 267px;
  padding-top: 27px;
}

.shop-picture {
  max-width: 300px;
  height: 204px;
  background-color: #eff6f1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.first-picture {
  background-image: url(https://raw.githubusercontent.com/NazbImbek/MQ-Dimlom/main/images/shop-item-desk1.jpg);
}

.second-picture {
  background-image: url(https://raw.githubusercontent.com/NazbImbek/MQ-Dimlom/main/images/shop-item-desk2.jpg);
}

.third-picture {
  background-image: url(https://raw.githubusercontent.com/NazbImbek/MQ-Dimlom/main/images/shop-item-desk3.jpg);
}

.product__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  font-family: open-sans-b, sans-serif;
}
.product__footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  padding-top: 22px;
  display: flex;
  flex-wrap: wrap;
}
.product__price {
  font-size: 150%;
  font-weight: 700;
  color: #222;
  line-height: 1;
  display: flex;
}

.product__price_old {
  text-decoration: line-through;
  font-size: 87.5%;
  margin-bottom: 5px;
}

.product__rub {
  margin-left: 0.2em;
}

.product__button {
  border: none;
  background-color: #b59f5b;

  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: Open Sans;
  font-size: 87.5%;
  font-weight: 700;
  color: #fff;

  width: 140px;
  height: 48px;
}
.product__button:hover {
  background-color: #323232;
}

.under {
  margin-top: 93px;
  margin-bottom: 40px;
}
.under-container {
  display: flex;
  height: 83px;
  background-color: #f4f7f6;
  max-width: 70%;
  margin: 0 auto;

  padding: 0;
  margin-bottom: 73px;
  justify-content: center;
}
.socials {
  display: flex;
  justify-content: center;
  list-style: none;
}
.socials-item {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #f4f7f6;
  margin-right: 33px;
  margin-top: auto;
  margin-bottom: auto;
}
.socials-item:last-child {
  margin-right: 0px;
}
.socials-link {
  display: inline-block;
  width: 25px;
  height: 25px;
}
.socials-link_twitter {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}
.socials-link_pinterest {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}
.socials-link_facebook {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}
.socials-link_instagram {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}
.socials-link_tumblr {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}
.copyright {
  text-decoration: none;
  color: #999999;
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
  text-align: center;
}

.burger-menu {
  display: none;
}

@media (max-width: 640px) {
  .menu {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
  .menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 31px;
    right: 37px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: 0.25s;
  }
  .menu-btn > span::before {
    content: "";
    top: -8px;
  }
  .menu-btn > span::after {
    content: "";
    top: 8px;
  }
  .menubox {
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    max-width: 462px;
    min-height: 9px;
    margin: 0 90px;
    padding: 36px 0;
    list-style: none;
    background-color: transparent;
  }
  .sourses-list-item {
    display: block;
    padding: 6px 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
  }

  #menu-toggle {
    opacity: 0;
  }
  #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menubox {
    visibility: visible;
    right: 0;
  }

  .banner-label {
    font-size: 26px;
    line-height: 36px;
    max-width: 328px;
    padding: 43px 0 175px;
  }
  .banner-logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .banner-logo a {
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    width: 269px;
    color: #ffffff;
    margin-top: 174px;
  }

  .trends {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .trend-card {
    min-height: 233px;
  }
  .trends-item {
    margin: 2px 0 0;
  }
  .trends-border {
    margin: 29px auto 0;
    display: flex;
    min-height: 938px;
  }
  .page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 43px;
    padding: 0 15px;
  }
  .page-container {
    margin: auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 329px;
  }
  .news-picture {
    max-width: 329px;
  }
  .news-text {
    margin-top: 16px;
    margin-left: 0;
  }
  .picture-content > p {
    margin: 19px 0 0 0;
  }
  .meta {
    display: flex;
    align-items: center;
  }
  .frame-title {
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 23px;
  }
  .frame::after {
    content: "";
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 17px;
    max-width: 392px;
    height: 3px;
    background-color: #eeeeee;
  }
  .news:not(:first-child) {
    margin-top: 40px;
  }
  .shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .shop-container {
    display: block;
    max-width: 100%;
    margin: 0 50px 56px;
    position: relative;
  }
  .shop-body {
    min-height: 161px;
    padding-top: 27px;
  }
  .product__title {
    margin-bottom: 8px;
    font-size: 17px;
  }
}
@media (min-width: 641px) and (max-width: 1200px) {
  .menu {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
  .menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 31px;
    right: 37px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: 0.25s;
    border-radius: 5px;
  }
  .menu-btn > span::before {
    content: "";
    top: -8px;
  }
  .menu-btn > span::after {
    content: "";
    top: 8px;
  }
  .menubox {
    display: flex;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    max-width: 462px;
    min-height: 9px;
    margin: 0 90px;
    padding: 36px 0;
    list-style: none;
    background-color: transparent;
  }
  .sourses-list-item {
    display: block;
    padding: 6px 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
  }

  #menu-toggle {
    opacity: 0;
  }
  #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menubox {
    visibility: visible;
    right: 0;
  }
  .banner-label {
    font-size: 40px;
    line-height: 55px;
  }
  .trends {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .trend-card {
    min-height: 249px;
  }
  .trends-item {
    margin-top: 2px;
  }
  .page {
    justify-content: center;
    padding: 0;
  }
  .page-container {
    padding: 0 33px 0 0;
    display: flex;
    margin: 0;
  }

  .news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 329px;
  }
  .news-picture {
    max-width: 329px;
  }
  .news-text {
    margin-top: 16px;
    margin-left: 0;
  }
  .picture-content > p {
    margin: 33px 0 0 0;
  }
  .frame::after {
    content: "";
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 17px;
    max-width: 392px;
    height: 3px;
    background-color: #eeeeee;
  }
  .now-title {
    margin-top: 53px;
  }
  .news:not(:first-child) {
    margin-top: 40px;
  }
  .shop {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    padding: 0 15px;
    margin: autox;
    justify-content: center;
  }
  /*//////*/
  .shop-container {
    /* display: block; */
    max-width: 49%;
    margin: 0 30px 60px;
    /* position: relative; */
    list-style: none;
  }
  .shop-container:last-child {
    /*display: block;*/
    max-width: 49%;
    /*margin: 56px 50px 0;
    position: relative;*/
  }
  .shop-body {
    min-height: 213px;
    padding-top: 27px;
  }
  .product__title {
    margin-bottom: 8px;
    font-size: 17px;
  }
  .shopping {
    margin: 29px 0 0;
  }
}
@media (max-width: 640px) and (orientation: landscape),
  (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {
  .trends-item {
    width: 49%;
  }
}
@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  .trends-item {
    width: 24%;
  }
}
@media (max-width: 640px) and (orientation: portrait) {
  .trends-item {
    width: 100%;
  }
}
._hidden {
  display: none;
}
.feedback-title {
  text-align: center;
  margin-bottom: 0px;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 29px;
  color: #0f0d0e;
  font-weight: 700;
}
.feedback-title::after {
  content: "";
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 14px;
  width: 66px;
  height: 3px;
  background: #b59f5b;
}

.select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding-left: 10px;
  padding-right: 167px;
  margin: 0 auto;
  border: none;
  background-color: #f4f7f6;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #333333;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-size: 11px;
  background-image: url(https://raw.githubusercontent.com/NazbImbek/MQ-Dimlom/9cfc52fb63b19bff9ae91c216e9db81469f7d3ac/svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 5px center;
}
.select:focus {
  border: 1px solid #b59f5b;
}
.select-group {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 33px;
  display: block;
}
.radio-text {
  margin-right: 28px;
}

.form-radio {
  margin-right: 28px;
}
.check {
  display: flex;
}
.radio-check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio-check + label {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  cursor: pointer;
}
.radio-check + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #ffffff;

  background-image: url(https://raw.githubusercontent.com/NazbImbek/MQ-Dimlom/9cfc52fb63b19bff9ae91c216e9db81469f7d3ac/svg/form-empty-circle.svg);
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.radio-check:checked + label::before {
  background-color: #fff;
  background-image: url(https://raw.githubusercontent.com/NazbImbek/MQ-Dimlom/9cfc52fb63b19bff9ae91c216e9db81469f7d3ac/svg/form-circle.svg);
}

.form__hint {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 8px;
  display: block;
  color: #000000;
}
.feedback {
  width: 85%;
  margin: 54px auto;
}
.form__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 33px;
}
.form__row:last-child {
  margin-top: 19px;
}
.form-group {
  display: block;
  margin-left: 0;
}

.field {
  border: none;
  box-sizing: border-box;
  padding-top: 22px;
  padding-left: 22px;
  resize: none;
  width: 100%;
  min-height: 133px;

  font-family: inherit;
  font-size: 100%;
  background-color: #f4f7f6;
  border-radius: 0;
  appearance: none;
}
.field:focus {
  border: 1px solid #b59f5b;
}
.button {
  box-sizing: border-box;
  background-color: #b59f5b;
  border: none;
  padding: 19px 0;
  font-size: open-sans, sans-serif;
  width: 100%;
  text-transform: uppercase;

  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
}
.button:hover {
  background-color: #323232;
  cursor: pointer;
}
.sent {
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
}
.popup {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}
.popup__container {
  max-width: 393px;
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  position: relative;
}
.popup__close {
  background-color: transparent;
  border: none;
  padding: 0;
  text-indent: -9999px;
  cursor: pointer;
}

.popup__close:before,
.popup__close:after {
  content: "";
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.popup__close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup__close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popup__close {
  width: 27px;
  height: 4px;

  position: absolute;
  top: -30px;
  right: 0;
}

.popup__close:before,
.popup__close:after {
  width: 27px;
  height: 4px;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .feedback-title {
    font-size: 18px;
    line-height: 29px;
    font-family: open-sans-b, sans-serif;
  }

  .popup__close {
    width: 38px;
    height: 5px;

    position: absolute;
    top: -30px;
    right: 0;
  }

  .popup__close:before,
  .popup__close:after {
    width: 38px;
    height: 5px;
  }
}

@media (max-width: 640px) {
  .feedback {
    width: 85%;
    margin: 30px auto;
  }
  .feedback-title {
    font-size: 16px;
    line-height: 29px;
  }
  .popup__close {
    width: 38px;
    height: 5px;

    position: absolute;
    top: -30px;
    right: 0;
  }

  .popup__close:before,
  .popup__close:after {
    width: 38px;
    height: 5px;
  }
}
